.Input_container {
  position: relative;
}
.List_input {
  padding-left: 50px;
  height: 40px;
  width: 342px;
  border-radius: 8px;
  font-size: 16px;
  border: 1px solid #e0e0e0;
  color: #476bce;
  &::placeholder {
    color: #476bce;
  }
  &:focus {
    outline: none;
  }
}
