.Help_wrapper {
  margin-top: 45%;
  display: grid;
  background-color: #426aff;
  .Menu_polar_star {
    position: absolute;
    top: 15%;
    z-index: 2;
    left: 70%;
  }
}

.Help_element {
  margin: auto;
  z-index: 3;
}
.Help_vk {
  margin-top: 16px;
}

.Menu_svg_top {
  position: absolute;
  bottom: 150px;
  z-index: 2;
}

.Menu_svg_bottom {
  position: absolute;
  top: 365px;
  z-index: 2;
  left: 200px;
  overflow: hidden;
}

.Menu_polar_star {
  position: absolute;
  right: 25px;
  top: 100px;
  z-index: 2;
}
