@import "../../fonts/fonts.scss";
.List_card_wrapper {
  color: #ffffff;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  padding-bottom: 10px;
  justify-content: space-between;
  .List_card_image_wrapper {
    width: 48%;
    display: flex;
    justify-content: flex-end;
  }
}
.List_card_wrapper_reverse {
  color: #ffffff;
  text-decoration: none;
  display: flex;
  flex-direction: row-reverse;
  padding-bottom: 10px;
  justify-content: space-between;
}
.List_card_image {
  height: 184px;
  width: 184px;
  margin-left: 8px;
  margin-right: 8px;
  border-radius: 12px;
}

.List_card_info {
  color: #426aff;
  background-color: #eff2ff;
  display: flex;
  padding: 12px 20px 12px 12px;
  margin-left: 8px;
  margin-right: 8px;
  width: 152px;
  height: 152px;
  border-radius: 12px;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 12px;
}
.List_card_info_wrapper {
  width: 48%;
}

.List_card_info:hover {
  color: #fff;
  background-color: #426aff;
}
.List_card_info_date {
  font-size: 12px;
  font-family: "Geologica Thin";
}

.List_card_info_name {
  font-size: 18px;
  font-weight: bold;

  font-family: "Geologica Bold";
}

.List_card_info_short_description {
  font-size: 14px;
  font-family: "Geologica Thin";
}
