@import "../../fonts/fonts.scss";
.List_card_wrapper {
  color: #ffffff;
  text-decoration: none;
  height: 120px;
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
  justify-content: space-between;
}

.List_card_image {
  height: 120px;
  width: 120px;
  border-radius: 8px;
}

.List_card_info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.List_card_info_date {
  font-size: 12px;
  font-family: "Geologica Thin";
}

.List_card_info_name {
  font-size: 18px;
  font-weight: bold;
  font-family: "Geologica Bold";
}

.List_card_info_short_description {
  font-size: 12px;
  width: 200px;
  font-family: "Geologica Thin";
}
