.List_card_wrapper {
  color: #ffffff;
  text-decoration: none;
  height: 150px;
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
  justify-content: space-between;
}

.List_card_image {
  height: 150px;
  width: 150px;
  border-radius: 8px;
}

.List_card_info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.List_card_info_date {
  font-size: 12px;
}

.List_card_info_name {
  font-size: 18px;
  font-weight: bold;
}

.List_card_info_short_description {
  font-size: 12px;
  width: 200px;
}
