@import "../fonts/fonts.scss";
.Sidebar_wrapper {
  padding-top: 35%;
  display: grid;
}

.Sidebar_element {
  margin: auto;
  z-index: 2;
}
.Sidebar_button {
  button {
    border: 0;
    font-size: 24px;
    font-weight: 700;
    padding: 4px 16px;
    border-radius: 12px;
    font-family: "Soyuz Grotesk Bold";
  }
  height: 45px;
  margin-bottom: 16px;
  .Sidebar_button_place {
    background-color: #f3bd51;
    color: #426aff;
    border: 1px solid #f3bd51;
  }
  .Sidebar_button_place:hover {
    background-color: #426aff;
    color: #f3bd51;
    border: 1px solid #f3bd51;
  }
  .Sidebar_button_city {
    background-color: #eb6666;
    color: #ffffff;
    border: 1px solid #eb6666;
  }
  .Sidebar_button_city:hover {
    background-color: #ffffff;
    color: #eb6666;
    border: 1px solid #ffffff;
  }
  .Sidebar_button_poster {
    background-color: #ffffff;
    color: #eb6666;
    border: 1px solid #ffffff;
  }
  .Sidebar_button_poster:hover {
    background-color: #eb6666;
    color: #ffffff;
    border: 1px solid #eb6666;
  }
  .Sidebar_button_help {
    background-color: #6e91e0;
    color: #ffffff;
    border: 1px solid #6e91e0;
  }
  .Sidebar_button_help:hover {
    background-color: #ffffff;
    color: #6e91e0;
    border: 1px solid #ffffff;
  }
  .Sidebar_button_about {
    background-color: #426aff;
    color: #fff;
    border: 1px solid #fff;
  }
  .Sidebar_button_about:hover {
    background-color: #ffffff;
    color: #426aff;
    border: 1px solid #fff;
  }
}

.Sidebar_link {
  text-decoration: none;
}

.Menu_svg_top {
  position: absolute;
  bottom: 55%;
  z-index: 2;
  left: 0;
}

.Menu_svg_bottom {
  position: absolute;
  bottom: 0;
  z-index: 2;
  right: 0;
}
.Menu_polar_star {
  position: absolute;
  bottom: 75%;
  z-index: 2;
  left: 70%;
}
