@import "../fonts/fonts.scss";
.Description_wrapper {
  background: #426aff;
  color: #426aff;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.Description_container {
  background-color: #fff;
  width: 94%;
  margin: auto;
  border-radius: 20px;
}

.Description_container > * {
  margin: 15px;
}
.Description_slider_container {
  display: flex;
  justify-content: center;
}

.Description_name {
  font-size: 30px;
  font-weight: bold;
  font-family: "Geologica Bold";
}
.Description_description {
  font-family: "Geologica Thin";
}
.Author_and_when {
  color: #eb6669;
  display: flex;
  justify-content: space-between;
  width: 250px;
  font-size: 14px;
  font-family: "Geologica Thin";
}

.Description_text {
  font-size: 16px;
  font-family: "Geologica";
}

.Descritpion_button_container {
  display: flex;
  justify-content: center;
}

.Description_button {
  border: 0;
  font-size: 24px;
  font-weight: 700;
  padding: 4px 16px;
  border-radius: 12px;
  background-color: #eb6669;

  margin-top: 30px;
  margin-bottom: 30px;
  font-family: "Soyuz Grotesk Bold";
}
.Description_link {
  text-decoration: none;
  color: white;
}
.Description_button:hover {
  transition: 0.3s;
  background-color: #fff;
  .Description_link {
    color: #eb6669;
  }
}
