body {
  overflow: hidden;
  background-color: #fff;
}
.App {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 8rem;
  .appWrapper {
    width: 100%;
    .langButton {
      text-align: center;

      width: 100%;
      margin-top: 24px;
      padding: 4px;
      font-size: 48px;
      border-top: 4px solid yellow;
      border-bottom: 4px solid yellow;
    }
    :hover {
      cursor: pointer;
      transition: 0.3s;
      background-color: yellow;
    }
    :active {
      background-color: rgba(244, 244, 2, 0.798);
    }
    .link {
      text-decoration: none;
      color: black;
    }
  }
}
.wayWrapper {
  display: flex;
  justify-content: center;

  font-size: 36px;
  .way {
    text-align: center;
    font-weight: 700;
    background-color: rgba(244, 244, 2, 0.798);
    color: rgb(215, 215, 215);
    width: 140px;
  }
}
.welcome {
  color: #000;
  position: relative;
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: 2em;
  letter-spacing: 4px;
  overflow: hidden;
  font-weight: 900;
  background: linear-gradient(90deg, #000, #000, #000);
  background-repeat: no-repeat;
  background-size: 80%;
  animation: animate 3s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}
.reverse {
  animation-direction: reverse;
}

@keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.SwiperSlide {
  img {
    width: 450px;
    height: var(--tg-viewport-height);
  }
}

.SwiperSlideCity {
  position: relative;
  bottom: 60vh;
}
.SwiperSlideCityLink {
  color: #fff;
  text-decoration: none;
  font-size: 32px;
  font-weight: 600;
}
.background10 {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
