.Places_wrapper {
  display: flex;
  justify-items: center;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  justify-content: flex-start;
}

.Places_link {
  text-decoration: none;
}

.Places_input_container {
  width: 100%;
  height: 70px;
  margin-bottom: 12px;
  display: flex;
  background-color: #426aff;
  justify-content: center;
  border-radius: 0 0 15px 15px;
}

.Places_list {
  background-color: #fff;
  width: 350px;
  margin-top: 50px;
}
