.Places_top_info {
  display: flex;
  height: 56px;
  background: #2c55c7;
  color: #ffffff;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
  position: sticky;
  top: 0;
}

.Top_info_text {
  width: 30px;
}
.Top_info_star {
  width: 35px;
  margin: 0 auto;
}
