@import "../../fonts/fonts.scss";
.Places_top_info {
  display: flex;
  background-color: #426aff;
  color: #ffffff;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
  padding-bottom: 12px;
  position: sticky;
  top: 0;
  font-family: "Geologica";
  font-size: 14px;
}

.Top_info_text {
  width: 10px;
}
.Top_info_star {
  width: 38px;
  margin: 0 auto 12px auto;
}
