@import "../../fonts/fonts.scss";

.SliderCity {
  background-color: white;
  z-index: 0;
  width: 350px;
  height: 100%;

  .Slider_image {
    background-color: white;
    object-fit: cover;
    height: 350px;
    width: 350px;
    border-radius: 12px;
  }
}
@media screen and (max-device-width: 374px) {
  .SliderCity {
    width: 320px;
    height: 320px;
    .Slider_image {
      height: 320px;
      width: 320px;
    }
  }
}
@media screen and (max-device-width: 344px) {
  .SliderCity {
    width: 300px;
    height: 300px;
  }
  .Slider_image {
    height: 300px;
    width: 300px;
  }
}
.Slider {
  background-color: white;
  z-index: 0;
  width: 350px;
  height: 100%;
  .Slider_image {
    background-color: white;
    object-fit: cover;
    height: 350px;
    width: 350px;
    border-radius: 12px;
  }
}

:where(.css-dev-only-do-not-override-zg0ahe).ant-carousel .slick-dots-bottom {
  z-index: 0;
}

.City_select_city_title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 12px 0;
  font-family: "Soyuz Grotesk Bold";
  font-size: 20px;
  background-color: white;
  color: #426aff;
}

.City_select_city_title_red {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 12px 0;
  font-family: "Soyuz Grotesk Bold";
  font-size: 20px;
  background-color: white;
  color: red;
}
