.Slider {
  width: 350px;
  height: 350px;
}
.Slider_image {
  height: 350px;
  width: 350px;
  border-radius: 12px;
}

:where(.css-dev-only-do-not-override-zg0ahe).ant-carousel .slick-dots-bottom {
  z-index: 0;
}
